@use './reset';
@use './var' as *;
@use './fonts';

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F1F5F8;
}

span.material-icons.icon {
    font-size: 16px;
    color: #7F858D;
    margin-right: 10px;
    transition: all .3s;
}

